body {
 
  background-image: url('https://i.pinimg.com/236x/d8/30/4a/d8304a7e883c9d1610ddcef5025f5d73.jpg');    /* Centers the image */
  background-size: cover;          /* Ensures the image covers the entire area */
  background-position: center;     /* Centers the image */
  background-repeat: no-repeat;    /* Prevents repeating the image */
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Keep the app centered */
.App {
  text-align: center;
}

/* Optional: make the weather card float a little */
.weather-card {
  background: rgba(7, 13, 118, 0.15); /* semi-transparent */
  backdrop-filter: blur(10px);           /* frosted-glass effect */
  border-radius: 16px;
  box-shadow: 0px 10px 10px rgba(4, 19, 118, 0.501);
  padding: 20px;
  color: white;
}
.leaflet-container {
  height: 500px;
  width: 100%;
  margin: 20px 0;
}